@charset "UTF-8";

html {
  height: 100%;
  body {
    height: 100%;
    #app {
      height: 100%;

    }
  }

  .ant-input {
    width: 200px;
    margin-right: 20px;
    &.ant-calendar-picker-input {
      width: 300px;
    }
  }
}